*{
   margin: 0;
   padding: 0;
}
body{
   margin: 0;
   padding: 0;
   background-color: #fff;
   
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
img{
   user-select: none;
}
ul{
   list-style: none;
}

/*signup-discount*/
.signup-discount{
   background-color: #000;
   height: 38px;

   display: flex;
   justify-content: center;
   align-items: center;
}
.offer-text{
   font-size: 14px;
   color: #fff;
}
:is(.offer-text) a{
   text-decoration-line: underline;
   color: #fff;
}
.cross-btn{
   position: absolute;
   left: 92%;

   display: flex;
   align-items: center;
   cursor: pointer;
}

/*header*/
.header{
   height: 95px;
   width: 100%;
   display: flex;
   justify-content: center;
}
.container{
   width: 100%;
   margin-left: 100px;
   margin-right: 100px;
   color: #000;

   display: flex;
   justify-content: space-around;
   align-items: center;
   user-select: none;
}
.logo{
   font-size: 32px;
   font-weight: 700;
}
.menu{
   font-size: 16px;
}
.menu-container{
   width: 320px;
   list-style: none;
   display: flex;
   justify-content: space-between;
}
.hidden-menu-el{
   display: none;
}
.hidden-menu-el a{
   color: #000;
   text-decoration: none;
}
:is(.menu-el) a{
   text-decoration: none;
   color:#000;
}
.search-container {
   position: relative;
   width: 300px;
}

.search-container input {
   width: 350px;
   padding: 10px 40px; 
   border-radius: 20px;
   border: none;
   background-color: #f1f1f1;
   font-size: 16px;
   outline: none;
}

.search-container input::placeholder {
   color: #888;
}

.search-container .search-icon {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   color: #888;
   font-size: 20px;
   cursor: pointer;
}
.icons-container{
   display: flex;
   justify-content: space-between;
   width: 62px;
}
:is(.icons-container) a{
   cursor: pointer;
}
@media (max-width: 1550px) {
   .search-container input{
      width: 300px;
   }
   .menu-container{
      display: flex;
      justify-content: center;
      width: 150px;
   }
   .menu-el{
      display: none;
   }
   .hidden-menu-el{
      display:flex;
   }
}
@media (max-width: 1450px) {
   .search-container input{
      width: 275px;
   }
}
@media (max-width: 1350px) {
   .search-container input{
      width: 250px;
   }
}
@media (max-width: 1250px) {
   .search-container input{
      width: 225px;
   }
}

/*pages*/
/*first page*/
.first-page{
   background-color: #F2F0F1;
   height: 662px;
}
.fcontainer{
   display: flex;
   justify-content: space-around;
}
.leftside{
   margin-top: 103px;
}
.introduce{
   font-weight: 700;
   font-size: 64px;
}
.introduce-p{
   margin-top: 32px;
}
.shop-now{
   margin-top: 32px;
   
}
.shop-now a{
   display: flex;
   width: 210px;
   height: 52px;
   color: #fff;
   text-decoration: none;

   background-color: #000;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
}
.intelligence{
   margin-top: 48px;

   display: flex;
   justify-content: space-between;
}
.count{
   font-weight: 700;
   font-size: 40px;
}
.rightside{
   display: flex;
   align-items: flex-start;
}

/*brands page*/
.brand-page{
   height: 122px;
   background-color: #000;
   text-align: center;
}
.brands{
   position: relative;
   top: 35%;
}
.brand-logo{
   display: inline;
   vertical-align: middle;
   margin-right: 125px;
}
@media (max-width: 1500px) {
   .brand-logo{
      margin-right: 85px;
   }
}
@media (max-width: 1300px) {
   .brand-logo{
      margin-right: 75px;
   }
}

/*second&third page*/
.second-page, .third-page{
   display: flex;
   justify-content: center;
}
.scontainer, .tcontainer{
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;

   border-bottom: 0.7px solid #9c9c9c;
}
.tcontainer{
   border-bottom: none;
}
.sp-text, .tp-text{
   font-weight: 900;
   font-size: 48px;
   margin-top: 72px;
   text-transform: uppercase;
}
.clothes{
   width: 100%;
   margin-top: 55px;
}
.clothes ul{
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}
.clothe-name{
   margin-top: 16px;
   font-weight: 700;
   font-size: 20px;
}
.rate{
   margin-top: 8px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.rate-in-num{
   margin-left: 13px;
}
.price{
   margin-top: 8px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.curr-price, .last-price{
   font-weight: 700;
   font-size: 24px;
}
.last-price{
   color: #888;
   margin-left: 10px;
   text-decoration: line-through;
}
.view-all-btn{
   margin-top: 36px;
   margin-bottom: 64px;
}
:is(.view-all-btn,.last-view-all-btn) a{
   width: 218px;
   height: 52px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   color: #000;
   border: 0.5px solid #ababab;
   border-radius: 50px;
}
.last-view-all-btn{
   margin-top: 36px;
   margin-bottom: 80px;
}

/*fourth page*/
.fourth-page{
   display: flex;
   justify-content: center;
}
.fourth-container{
   display: flex;
   justify-content: center;
   background-color: #F0F0F0;
   border: none;
   border-radius: 50px;
   flex-direction: column;
   align-items: center;
   padding: 10px 75px 10px 75px;
}
.title{
   font-weight: 900;
   font-size: 48px;
   text-transform: uppercase;
   margin-top: 70px;
   margin-bottom: 64px;
}
.clothes-style{
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.first-row, .second-row{
   display: flex;
   flex-direction: row;
   gap: 20px;
}
.first-row{
   margin-bottom: 20px;
}
.second-row{
   margin-bottom: 75px;
}

/*comments page*/
.comments{
   margin-top: 80px;
   display: flex;
   justify-content: center;
}
.comments-container{
   width: 85%;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.comments-title{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.comments-title h2{
   margin-left: 50px;
   font-weight: 800;
   font-size: 48px;
}
.comments-arrow{
   margin-right: 70px;
}
.comments-arrow img{
   cursor: pointer;
}
.comments-list{
   display: flex;
   gap: 30px;
   margin-top: 40px;
}
.comment{
   border: 1px solid #9c9c9c;
   border-radius: 15px;
   padding: 15px;
}
.stars-image{
   margin-top: 10px;
}
.comment-owner{
   margin-top: 15px;
   font-weight: 700;
   font-size: 20px;
   display: flex;
   align-items: center;
}
.comment-text{
   width: 95%;
   margin-top: 12px;
   margin-bottom: 35px;
   color: #535353;
}

/*footer*/
footer{
   margin-top: 170px;
}
.footer-container{
   width: 100%;
   background-color: #F0F0F0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.upto-date{
   background-color: #000;
   color: #F0F0F0;
   width: 60%;
   height: 180px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 0 200px 0 100px;
   border-radius: 30px;

   transform: translateY(-50%);
}
.upto-date h2{
   font-weight: 700;
   font-size: 40px;
}
.subscribing{
   width: 300px;
   gap: 14px;
   display: flex;
   flex-direction: column;
}
.email-input-container {
   position: relative;
   display: inline-block;
}

.email-icon {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px; 
   color: #888; 
}

.email-input {
   width: 215px;
   padding: 10px 40px;
   border-radius: 20px; 
   border: 1px solid #ccc; 
   font-size: 16px;
   outline: none;
   background-color: #f9f9f9;
}
.subscribe{
   height: 40px;
   border-radius: 50px;
   cursor: pointer;

   font-weight: 500;
}

.contacts{
   width: 75%;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #9c9c9c;
   padding-bottom: 50px;
}
.email-input::placeholder {
   color: #888; 
}
.ss-logo{
   font-weight: 700;
   font-size: 33px;
}
.ss-text{
   margin-top: 25px;
   font-size: 14px;
   color: #535353;
}
.ss-links{
   margin-top: 35px;
   display: flex;
   flex-direction: row;
   gap: 12px;
}
.company-links, .help-links, .faq-links, .resources-links{
   display: flex;
   flex-direction: column;
   gap: 15px;
}
:is(.company-links, .help-links, .faq-links, .resources-links)
li a{
   color: #535353;
   text-decoration: none;
}
.main-li{
   margin-bottom: 10px;
   color: #000;
}
.rights{
   width: 75%;
   margin-top: 25px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 75px;
   align-items: center;

   color: #9c9c9c;
   font-size: 13px;
   font-weight: 400;
}
.social-icons ul{
   display: flex;
   flex-direction: row;
}
.social-icons img{
   cursor: pointer;
}